.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color : var(--text-color);
    background-color: var(--background);
}

.search-input{
    padding: 0 0 0 10px;
    height: 32px;
    border-radius: 5px;
    width: 256px;
    border: 1px solid black;
}

.nav-header{
    font-weight: 400;
}